@charset "UTF-8";
/* ヘッダー */
header {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 5px #afeeee;
  background-color: #ffffff;
  padding: 10px;
}

/* メイン */
.main {
  padding: 30px 10px;
}

/* フッター */
footer {
  height: 30px;
}

small {
  font-size: 20px;
  color: #a9a9a9
}

/* 見出し、リンク */
h2 {
  margin: 10px 0px;
}

h3 {
  margin: 10px 0px;
}

/* ログインフォーム */
.login-form {
  background-color: #f0f8ff;
  width: 300px;
  border: solid 1px #87cefa;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 3px 3px 3px #c0c0c0;
}

.login-form input {
  height: 20px;
}

/* ボタン */
.btn {
  display: inline-block;
  width: 150px;
  padding: 10px;
  color: #ffffff;
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  background-color: #87cefa;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer; /* カーソルを上にのせた際の表示 */
  outline: none; /* ボタンクリック時の枠線 */
}

/* 追加ボタン */
.add-btn, .input-form button {
  display: inline-block;
  width: 150px;
  padding: 10px;
  color: #ffffff;
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  background-color: #fa8072;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer; /* カーソルを上にのせた際の表示 */
  outline: none; /* ボタンクリック時の枠線 */
}

.password {
  margin-bottom: 30px;
}

.mypage-btn, .logout-btn {
  margin-right: 20px;
}

/* 登録フォーム */
.input-form{
  width: 400px;
  border: solid 1px #fa8072;
  border-radius: 20px;
  padding: 30px;
  margin-bottom: 20px;
  background-color: #ffffff;
}

.input-title {
  display: block;
  font-weight: bold;
}

.input-item {
  margin-bottom: 20px;
}

.input-form select {
  display: block;
  height: 30px;
}

.input-form .div-radio label {
  margin-right: 10px;
}

.input-form textarea {
  display: block;
  width: 100%;
}

/* モーダル */
#modal {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: solid 1px gray;
  border-radius: 5px;
  background-color: white;
  z-index: 10;
}

/* モーダル用ボタン */
.modal_btn {
  width: 100px !important;
  font-size: 14px !important;
}

/* 背景を暗くする */
#fadeLayer {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.5;
  display: none;
  z-index: 1;
}

/* エラー表示 */
.error {
  color: red;
  font-size: 12px;
}

